.loader-container {
  display: flex;
  justify-content: center; /* Horizontally centers the loader */
  align-items: center; /* Vertically centers if a height is specified */
  margin-top: 20px;
  font-size: 16px;
  color: #777;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
